<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include header.ejs %>
    <div class="wrapper row-offcanvas row-offcanvas-left">

        <% include leftside.ejs %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <%= title %>
                    <small><%= heading %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"><%= title %></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content" ng-app="editClassApp" ng-controller="mainController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        
                        <ul class="list-group">  
                          <li class="list-group-item" ng-click="selectClass()" ng-repeat="_class in <%= classes %>">
                                {{_class.className}}
                            </li>
                        </ul>
                        <% if (pageCount > 1) { %>  
                            <ul class="pagination">  
                              <% if (currentPage > 1) { %>
                                  <li><a href="/editclasses?page=1">&laquo;</a></li>
                              <% } %>
                              <% var i = 1;
                              if (currentPage > 5) {
                              i = +currentPage - 4;
                              } %>
                              <% if (i !== 1) { %>
                                  <li class="disabled"><a href="#">...</a></li>
                              <% } %>
                              <% for (i; i<=pageCount; i++) { %>
                                <% if (currentPage == i) { %>
                                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                                <% } else { %>
                                    <li><a href="/editclasses?page=<%= i %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == (+currentPage + 4)) { %>
                                    <li class="disabled"><a href="#">...</a></li>
                                <% break; } %>
                              <% } %>
                              <% if (currentPage != pageCount) { %>
                                  <li><a href="/editclasses?page=<%= pageCount %>">&raquo;</a></li>
                              <% } %>
                            </ul>  
                            <% } %>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    <script>
    </script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular_app/editclasses/app.js"></script>

</body>
</html>
